#ignore everything
*

#but...
!.gitignore
!README.md

!/src
src/*
!/src/**/*.m
!/src/**/*.mat
!/src/**/*.avi

!/datasets
datatsets/*
!/datasets/**/*.m
!/datasets/**/*.mat

!/report
report/*
!/report/*.pdf
!/report/*.tex
!/report/*.bib
